dash==2.14.1
dash_bootstrap_components==1.5.0
dash_mantine_components==0.12.0
numpy==1.26.1
pandas==2.1.2
pandas_market_calendars==4.3.1
yfinance==0.2.31
gunicorn==21.2.0
dash-tools==1.12.0
scikit-learn==1.3.2
schedule==1.2.1
PyGithub==2.1.1
